.call-form___input {
  border: 1px solid $border;
  background-color: $white;
  border-radius: 25px;
  padding: 12px;
  padding: 12px;
  width: 75%;
  height: 48px;
  outline: none;

  &::placeholder{
    color: $blue;
    opacity: 0.6;
}
}

input:focus {
    border: 1px solid $border;
}

.call__form {
  position: relative;
  width: 440px;
  height: 48px;
}


.call-form___button {
  background: $gradient-dark;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4430769979953766px;
  text-align: center;
  background: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
  border: none;
  border-radius: 25px;
  padding: 8px;
  width: 161px;
  color: $white;
  position: absolute;
  left: 275px;
  height: 48px;
  &:hover {
    box-shadow: 0px 6px 18px rgba(53, 152, 254, 0.38185);
    transition: 0.5s;
  }
}

.call {
  background: $background-light;
}
.call__phraze {
  @include phraze;
}

.call_heading {
  width: 433.2px;
}

@media (min-width: $desktop-width) {
  .call {
    margin-top: 150px;
    width: 1098px;
    height: 294px;
    display: flex;
    justify-content: space-between;
  }
  .call__heading {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
  }
  .call__phraze {
    margin-top: 61px;
    width: 85%;
  }
  .call__form {
    margin-top: 60px;
  }
}
