.promo__heading {
  @include heading
}

.promo__phraze{
  @include phraze
}

.promo__text-slider{
  /* margin: 50px auto; */
  width: 500px;
  height: 248px;
  overflow: hidden;
  position: relative;
}

// text-slider

.text-slide {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
  width: 100%;
}



// photo-slider

.promo__picture-wrapper {
  width: 500px;
  height: 300px;
  position: relative;
}

.promo__picture {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
  width: 100%;
}

.promo__picture--first,
.text-slide--first {
  animation-delay: 12s;
}
.promo__picture--second,
.text-slide--second {
  animation-delay: 8s;
}
.promo__picture--third,
.text-slide--third {
  animation-delay: 4s;
}
.promo__picture--fourth,
.text-slide--fourth {
  animation-delay: 0s;
}

@keyframes round {
  25% { opacity:1 }
  40% { opacity:0 }
  }

.form {
  position: relative;
  width: 440px;
  height: 48px;
  margin: 0 auto;
}

.form__input {
  background-color: $light-blue;
  border: $light-blue;
  border-radius: 25px;
  padding: 12px;
  padding-right: 58px;
  width: 75%;
  height: 48px;
  outline: none;

  &::placeholder{
    color: $blue;
}
}

.form__button {
  background: $gradient-dark;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4430769979953766px;
  text-align: center;
  background: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
  border: none;
  border-radius: 25px;
  padding: 8px;
  width: 161px;
  color: $white;
  position: absolute;
  left: 275px;
  height: 48px;
  &:hover {
    box-shadow: 0px 6px 18px rgba(53, 152, 254, 0.38185);
    transition: 0.5s;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
  }
  .picture {
    margin-right: 85px;
  }
  .promo__heading {
    margin: 0;
  }
  .promo__phraze {
    margin-top: 10px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1439px) {
  .promo {
    margin-top: 55px;
  }
  .promo__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .promo__heading {
    text-align: center;
    width: 96%;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.9859458804130554px;
    margin-bottom: 0;
  }
  .promo__phraze {
    margin-top: 10px;
    width: 90%;
    text-align: center;
  }
  .form {
    margin-top: 30px;
  }
  .picture {
    margin-top: 108px;
    display: flex;
    justify-content: center;
  }
  .promo__text-slider {
    height: 327px;
  }
  .promo__picture-wrapper {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 309px;
  }

}

@media (min-width: $tablet-width) and (max-width: 1439px) {
  .promo {
    margin-top: 55px;
  }
  .promo__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .promo__heading {
    text-align: center;
    width: 96%;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.9859458804130554px;
    margin-bottom: 0;
  }
  .promo__phraze {
    margin-top: 10px;
    width: 90%;
    text-align: center;
  }
  .form {
    margin-top: 30px;
  }
  .picture {
    margin-top: 108px;
    display: flex;
    justify-content: center;
  }
  .promo__text-slider {
    height: 327px;
  }
  .promo__picture-wrapper {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 309px;
  }
}
