.safety__phraze {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.7138460874557495px;
  text-align: left;
  color: $dark-grey;
}

@media (min-width: $desktop-width) {
  .safety {
    display: flex;
    margin-top: 160px;
  }
  .safety__wrapper {
    order: 1;
  }
  .safety__picture-wrapper {
    margin-left: 58px;
  }
  .safety__wrapper {
    margin-left: 79px;
  }
}
